.sideBarRow{
    &:hover {
        background-color: #F5F5F5	
       
    }

    &:hover .icon{
        color: #FF0202;
    }
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 8px 8px;

    h2{
        padding-left: 25px;
        font-weight: normal;
    }

    .icon{
        margin-left: 5px;
        color: #606060;
        font-size: 25px;
    }
}