.recommendedvideos{
    flex: 0.85;
    background-color: #F9F9F9;
    // height: 100vh;
    margin-top: 30px;
    
    .headline{
        font-size: 1.5rem;
        padding-left: 10px;
        padding-top: 10px;
        font-style: italic;
    }

    .videosarea{
        margin-top: 0;
        padding-top: 0;
        display: flex;
    flex-wrap: wrap;
    }
}